:host {
  display: block;
  
  .long-term-goals-header-container {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    box-sizing: border-box;
    padding: 25px 20px 12px 21px;

    .title {
      font-size: 28px;
      font-weight: 400;
      line-height: 0.65;
      color: #4B5853;
      margin: 0;
    }

    .edit-button {
      margin: 0px 0px 0px 70px;
      background: transparent;
      border: none;
    }
    
    .edit-icon {
      width: 20px;
    }
  }
}
