<div class="quarterly-goals-modal-container">
  <header class="qg-header">
    <div class="top-row">
      <h1>Quarterly Goals</h1>
      <button mat-icon-button type="button" class="qg-close-btn" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <p class="qg-quarter">{{ quarter }}</p>
  </header>

  <form [formGroup]="quarterlyGoalsForm" (ngSubmit)="saveGoals()">
    <section class="goal-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="goal-container" formArrayName="allGoals">
        <div *ngFor="let goal of allGoals.controls; let i = index" class="goal-item" cdkDrag>
          <div class="qg-row" [formGroupName]="i">
            <mat-icon class="qg-handle" cdkDragHandle>drag_indicator</mat-icon>

            <fieldset class="field-wrapper" [disabled]="goal.value._deleted">
              <mat-form-field class="goal-input">
                <input matInput placeholder="Enter your goal..." formControlName="text" />
              </mat-form-field>

              <mat-form-field class="hashtag-input"
                              [style.--tag-color]="goal.value.hashtagColor">
                <span matTextPrefix>#</span>
                <input matInput placeholder="hashtag..." formControlName="hashtagName" />
              </mat-form-field>
            </fieldset>

            <input type="checkbox" id="trash-{{ i }}" formControlName="_deleted" />
            <label for="trash-{{ i }}" class="trash-label">
              <mat-icon class="delete" fontIcon="delete"></mat-icon>
              <mat-icon class="restore" fontIcon="restore_from_trash"></mat-icon>
            </label>
          </div>
        </div>
      </div>
    </section>

    <div class="add-goal-button" (click)="addGoalToForm(null)">
      <div class="add-goal">+ Add a quarterly goal</div>
    </div>

    <div class="added-goals">
      @if (addedGoalsCount !== 0 || editedGoalsCount !== 0 || deletedGoalsCount !== 0) {
        <div class="tracking-counts">
          <p class="pending">Pending Changes</p>
          @if (addedGoalsCount !== 0) { <span>Adding {{ addedGoalsCount }}</span> }
          @if (editedGoalsCount !== 0) { <span>Editing {{ editedGoalsCount }}</span> }
          @if (deletedGoalsCount !== 0) { <span>Deleting {{ deletedGoalsCount }}</span> }
        </div>
      }
      <button class="save-button" type="submit" [disabled]="!quarterlyGoalsForm.valid">Save</button>
    </div>
  </form>
</div>
