$primary: #2dbdb1;
$secondary: #e1fbf9;

:host {
  display: block;
  
  .goal.completed {
  text-decoration: line-through;
  }
  
  .weekly-goals-item-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    padding: 16px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;

  .check-box {
    --mdc-checkbox-selected-focus-icon-color: #{$primary};
    --mdc-checkbox-selected-hover-icon-color: #{$primary};
    --mdc-checkbox-selected-icon-color: #{$primary};
    --mdc-checkbox-selected-pressed-icon-color: #{$primary};
    --mdc-checkbox-unselected-icon-color: #{$primary};
    --mdc-checkbox-unselected-focus-icon-color: #{$primary};
    --mdc-checkbox-unselected-hover-icon-color: #{$primary};
  
    --mdc-checkbox-unselected-focus-state-layer-color: #{$secondary};
    --mdc-checkbox-unselected-hover-state-layer-color: #{$secondary};
    --mdc-checkbox-unselected-pressed-state-layer-color: #{$secondary};
    --mdc-checkbox-selected-focus-state-layer-color: #{$secondary};
    --mdc-checkbox-selected-hover-state-layer-color: #{$secondary};
    --mdc-checkbox-selected-pressed-state-layer-color: #{$secondary};
  
    --mat-checkbox-label-text-color: white;
  }
    .item {
      display: flex;
      flex-direction: row;
      font-size: 15px;
      font-weight: 300;
      .goal-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 4px;
        .goal {
          font-family: 'Oxygen', sans-serif;          
          color: #5A5A5A;
          font-size: 16px;
          font-weight: 400;
        }
        .hashtag {
          color: #2DBDB1;
          font-family: 'Oxygen', sans-serif;          
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}
