$primary: #2dbdb1;
$secondary: #e1fbf9;

:host {
  display: block;
  
  .goal.completed {
    text-decoration: line-through;
  }
  
  .weekly-goals-item-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    padding: 16px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;
    
    .item {
      display: flex;
      flex-direction: row;
      font-size: 15px;
      font-weight: 300;
      .goal-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 4px;
        .goal {
          font-family: 'Oxygen', sans-serif;          
          color: #5A5A5A;
          font-size: 16px;
          font-weight: 400;
        }
        .hashtag {
          color: #2DBDB1;
          font-family: 'Oxygen', sans-serif;          
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}
